<div class="blue-rect">
  <div class="propic-container">
        <img alt="propic" src="/me.jpg" class="propic-img">
  </div>
</div>

<div class="profile_nav">
  <h3 id="profile-name">@<%= @user.username %></h3>

  <div class="profile-center">
    <ul class="nav nav-tabs">
      <li role="presentation" class="<%= 'active' if params[:tab].nil? %>">
        <%= link_to "Tweets(#{@user.statuses.size})", user_path(@user) %>
      </li>
      <% if creator?(@user) %>
        <li role="presentation" class="<%= 'active' if params[:tab] == 'Following'%>">
          <%= link_to "Following(#{@user.celebs.size})", user_path(@user, tab: "Following") %>
        </li>
      <% end %>
      <li role="presentation" class="<%= 'active' if params[:tab] == 'Followers' %>">
        <%= link_to "Followers(#{@user.followers.size})", user_path(@user, tab: "Followers") %>
      </li>
    </ul>
  </div>
  <div class=" profile-edit-button">
    <% if creator?(@user) %>
        <%= link_to "Edit Account", edit_user_path(@user), class: "btn btn-default" %>
    <% else %>
      <% if !following?(@user) %>
        <%= link_to "Follow", follow_user_path(@user), method: :post, class: "btn btn-success" %>
      <% else %>
        <%= link_to "Unfollow", follow_user_path(@user), method: :delete, class: "btn btn-info" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="background">
<div class="profile-background">
  <div class="container-fluid">
    <% if params[:tab].nil? %>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-3 my-tweets well your-tweets">
          <h2><%= @user.username %>'s' Tweets</h2>
        </div>
      </div>
        <%= render 'statuses/statuses', statuses: @user.statuses %>
    <% elsif params[:tab] == "Followers" %>
          <div class="row">
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-8 col-xs-8 well my-tweets">
              <h2>Followers</h2>
              <hr/>
              <%= render 'users', users: @user.followers %>
            </div>  
          </div>

    <% elsif params[:tab] == "Following" %>
          <div class="row">
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-8 col-xs-8 well my-tweets">
              <h2>Following</h2>
              <hr/>
              <%= render 'users', users: @user.celebs %>
            </div>  
          </div>
    <% end %>
  </div>
</div>
</div>







